/* Styling untuk FAQ Section */
.faq-section {
  max-width: 800px;
  margin: 100px auto;
  padding: 20px;
}

.faq-section h2 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.faq-item {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}



.faq-question {
  font-weight: bold;
  cursor: pointer;
  padding: 10px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question::after {
  content: "\25BC"; /* Ikon dropdown */
  font-size: 1.2rem; /* Ukuran ikon */
  margin-left: 10px; /* Jarak antara teks dan ikon */
  transition: transform 0.3s ease; /* Animasi rotasi */
}

.faq-question.active::after {
  transform: rotate(180deg); /* Rotasi ikon saat aktif */
}

.faq-answer {
  display: none;
  padding: 0 0 10px 0;
  font-size: 0.95rem;
  line-height: 1.6;
  color: #333;
}

.faq-answer.show {
  display: block; /* Tampilkan jawaban */
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* dorong footer ke bawah */
}


